vti_encoding:SR|utf8-nl
vti_author:SR|NERGAL\\jorgefelix
vti_modifiedby:SR|NERGAL\\jorgefelix
vti_timelastmodified:TW|10 Jun 2015 02:51:44 -0000
vti_timecreated:TR|08 Jun 2015 21:51:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_nexttolasttimemodified:TW|10 Jun 2015 02:51:44 -0000
vti_syncwith_localhost\\d\:\\programas\\xampp\\htdocs\\sitio8/d\:/programas/xampp/htdocs/sitio8:TX|10 Jun 2015 02:51:44 -0000
vti_syncofs_localhost\\d\:\\programas\\xampp\\htdocs\\sitio8/d\:/programas/xampp/htdocs/sitio8:TW|10 Jun 2015 02:51:45 -0000
vti_cacheddtm:TX|10 Jun 2015 02:51:44 -0000
vti_filesize:IR|1434
vti_cachedlinkinfo:VX|S|../images/cielo.jpg
vti_cachedsvcrellinks:VX|FSUS|images/cielo.jpg
